.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.tempus-dominus-widget {
    margin: auto;
    width: 100%;
    box-shadow:none;
}

.rounded-bottom-left {
    border-bottom-left-radius: 5px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 5px;
}

.dropdown-item:hover {
    color: black !important;
}

.table-condensed {
    margin: auto !important;
}