<div class="col-md-3 bg-info">
    <div class="mt-3 btn-group btn-block">
      <button type="button" class="radio btn {% if graph_type == '2Dprecip' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '2Dprecip')">
        <h3><i class="fa-solid fa-table-cells-large"></i></h3>
        Precipitation
      </button>
      <button type="button" class="radio btn {% if graph_type == '3Drefl' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '3Drefl')">
        <h3><i class="fa-solid fa-cube"></i></h3>
        Reflectivity
      </button>
      <button type="button" class="radio btn {% if graph_type == '3Danim' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '3Danim')">
        <h3><i class="fa-solid fa-cubes"></i></h3>
        Layered
      </button>
    </div>
    
    <form id="form" method="get">
      <div id="dateTimePicker" class="mt-3 bg-info">
      </div>
      
      <button type="button" class="btn btn-light mt-3 mx-auto w-100 d-flex justify-content-between" onclick="get_graph_by_date()">
        <span>Get Graph from Selected Date</span>
        <span><i class="fa-solid fa-calendar-day"></i></span>
      </button>
      
      <button type="button" class="btn btn-light mt-3 mx-auto w-100 d-flex justify-content-between" onclick="get_latest_graph()">
        <span>Get Latest Graph</span>
        <span><i class="fa-solid fa-satellite-dish"></i></span>
      </button>
    </form>
    
    <div style="height: 25vh;"></div>
</div>