<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>3D Precipitation & Reflectivity Visualization System</title>

    <!-- Bootstrap/JQuery Requirements -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- React Requirements -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

    <!-- Tempus Dominus Requirements -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/js/tempus-dominus.min.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/css/tempus-dominus.min.css"
      crossorigin="anonymous">

    <!-- Plotly Requirements -->
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

    <!-- Custom Style / Scripts -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/vissys_styles.css')}}">
    <script src="{{url_for('static', filename='vissys_scripts.js')}}"></script>

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='cisess_logo_white.png')}}">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⛈️</text></svg>">
  </head>

  <body>
    {% include "vissys/vissys_header.html" %}

    <div class="container-fluid mt-0">
      <div class="row">
        {% include "vissys/vissys_sidebar.html" %}
        
        <div id="content" class="col-md-9 mt-5 px-5 pb-5 min-vh-100">
          {% block content %}{% endblock %}  
        </div>
        
        <div id="modalContainer"></div>
      </div>
    </div>

    {% include "vissys/vissys_footer.html" %}
      
      <!-- Render React components -->
      <script async src="{{url_for('static', filename='components/VisSysLoadingModal.jsx')}}" type="text/babel"></script>
  </body>

  <script type="text/javascript" defer>
    var graph_type = "{{ graph_type | safe }}"
    var valid_dates = convert_to_dates({{ valid_dates | safe }})
    console.log(valid_dates)

    dateTimePicker = new tempusDominus.TempusDominus(document.getElementById('dateTimePicker'), {
      display: {
        inline: true,
        theme: 'light',
      },
      restrictions: {
        enabledDates: valid_dates
      }
    })

    if ($("#graph").length) {
      var graph = {{ graphJSON | safe}}
      Plotly.plot('graph', graph)
      $('#loading-icon').hide()
    }

    $("#dateTimePicker").addClass("bg-light")
  </script>
</html>