@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@500&display=swap');

/* Customize scrollbar */
::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #e9ecef; 
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a; 
}

body {
    width: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.navbar {
    margin: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.navbar-brand {
    font-family: 'Nunito', sans-serif;
    text-shadow: rgba(0, 0, 0, 0.5) 2px 1px;
}

#title-text {
    transition: text-shadow 0.3s ease;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px;
}

#title-text:hover {
    text-shadow: rgba(0, 0, 0, 0.5) 2px 1px;
}

.navbar-logo {
    width: 25px;
    height: auto;
}

.tempus-dominus-widget {
    margin: auto;
    width: 100%;
    box-shadow: none;
    border-bottom-style: outset;
    border-right-style: outset;
}

.dateTimePicker {
    border-bottom-left-radius: 5px !important;
}

.rounded-bottom-left {
    border-bottom-left-radius: 10px !important;
}

.rounded-bottom-right {
    border-bottom-right-radius: 10px !important;
}

.dropdown-item:hover {
    color: black !important;
}

.table-condensed {
    margin: auto !important;
}

.plotly .svg-container {
    margin: auto !important;
}

.navbar-brand {
    font-size: 24px; 
}

.navbar-nav .nav-link {
    font-size: 21px; 
}

.btn-group.btn-block {
    display: flex;
}
.btn-group.btn-block > .btn {
    flex: 1;
    transition: background-color 0.2s ease-out;
}

.btn-white {
    background-color: white;
}

/* override Bootstrap background colors */
/* .bg-primary, .btn-primary {
    background-color: #426ac5 !important; 
} */

.bg-info {
    background-color: #91a3ff !important; 
}

.btn {
    border-style: outset; 
}

.navbar-nav .nav-link {
    /* font-size: 20px; Initial font size */
    transition: transform 0.3s ease;
}
.navbar-nav .nav-link:hover {
    transform: scale(1.05); 
}

@keyframes upDownAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#loading-icon {
    animation: upDownAnimation 2s ease-in-out infinite;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
  filter: invert(1);
}

.z-text {
  transform: rotateX(5deg) rotateY(-10deg);
  transition: transform 1s;
}
  
[data-z]:hover .z-text {
  transform: rotateX(-10deg) rotateY(5deg)
}
  
.z-layer:not(:first-child) {
  filter: brightness(0.2);
}