<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>3D Precipitation & Reflectivity Visualization System</title>

  <!-- Bootstrap/JQuery Requirements -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- React Requirements -->
  <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
  <script src='https://unpkg.com/babel-standalone@6.26.0/babel.js'></script>

  <!-- Tempus Dominus Requirements -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/js/tempus-dominus.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/css/tempus-dominus.min.css"
    crossorigin="anonymous">

  <!-- Plotly Requirements -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

  <!-- Custom Style / Scripts -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <script src="{{url_for('static', filename='scripts.js')}}"></script>
  <script src="{{url_for('static', filename='ztext.min.js')}}"></script>

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='cisess_logo_white.png')}}">
</head>

<body>
  
  <div id="nav" class="sticky-top"></div>
  
  <div class="container-fluid mt-0">
    <div class="row">
      <div class="col-md-3 bg-info">
        <div class="mt-3 btn-group btn-block">
          <button type="button" class="radio btn {% if graph_type == '2Dprecip' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '2Dprecip')">
            <h3><i class="fa-solid fa-table-cells-large"></i></h3>
            Precipitation
          </button>
          <button type="button" class="radio btn {% if graph_type == '3Drefl' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '3Drefl')">
            <h3><i class="fa-solid fa-cube"></i></h3>
            Reflectivity
          </button>
          <button type="button" class="radio btn {% if graph_type == '3Danim' %}btn-primary{% else %}btn-light{% endif %}" onclick="handle_graph_selection(this, '3Danim')">
            <h3><i class="fa-solid fa-cubes"></i></h3>
            Layered
          </button>
        </div>
        
        <form id="form" method="get">
          <div id="dateTimePicker" class="mt-3 bg-info">
          </div>
          
          <button type="button" class="btn btn-light mt-3 mx-auto w-100 d-flex justify-content-between" onclick="get_graph_by_date()">
            <span>Get Graph from Selected Date</span>
            <span><i class="fa-solid fa-calendar-day"></i></span>
          </button>
          
          <button type="button" class="btn btn-light mt-3 mx-auto w-100 d-flex justify-content-between" onclick="get_latest_graph()">
            <span>Get Latest Graph</span>
            <span><i class="fa-solid fa-satellite-dish"></i></span>
          </button>
        </form>
        
        <div style="height: 25vh;"></div>
      </div>
      
      <div id="content" class="col-md-9 mt-5 px-5">
        {% block content %}{% endblock %}  
      </div>
      
      <div id="modalContainer"></div>
    </div>
  </div>

  <footer class="footer bg-light py-4">
    <div class="container">
      <div class="text-center">
        <a href="https://cisess.umd.edu/"><img src="{{url_for('static', filename='cisess_logo.png')}}" height=100 alt="Center Image">
        </a>
      </div>
    </div>
  </footer>

  <script type="text/javascript" defer>
    var graph_type = "{{ graph_type | safe }}"
    var valid_dates = convert_to_dates({{ valid_dates | safe }})
    console.log(valid_dates)

    dateTimePicker = new tempusDominus.TempusDominus(document.getElementById('dateTimePicker'), {
      display: {
        inline: true,
        theme: 'light',
      },
      restrictions: {
        enabledDates: valid_dates
      }
    })

    if ($("#graph").length) {
      var graph = {{ graphJSON | safe}}
      Plotly.plot('graph', graph)
      $('#loading-icon').hide()
    }
 
    $("#dateTimePicker").addClass("bg-light")
  </script>
    
    <!-- Render React components -->
    <script async src="{{url_for('static', filename='components/Nav.jsx')}}" type="text/babel"></script>
    <script async src="{{url_for('static', filename='components/LoadingModal.jsx')}}" type="text/babel"></script>
</body>

</html>