{% extends 'base.html' %}

{% block content %}
<h1 id="main-title" class="text-center">3D Visualization System</h1>
<p>3D-VisSys is a tool that visualizes the three-dimensional structure of precipitating systems through an
  open-source interactive web-based platform. 3D-VisSys produces 3D maps of reflectivity factors, as well as
  supplementary 2D maps of precipitation, from the NOAA MRMS (Multi-Radar/Multi-Sensor) ground-based network, in
  near-real-time. 3D-VisSys offers a suite of visualizations including: a 2D precipitation heatmap, a 3D
  reflectivity volume plot, and an animated 3D reflectivity volume plot. </p>
<p>This tool was developed under the CISESS (Cooperative Institute for Satellite and Earth System Studies)
  Summer Internship and the primary research objective is to demonstrate the use of open-source visualization
  tools for supporting atmospheric and other scientific studies.</p>
<div class="card">
  <div class="card-header">Instructions</div>
  <div class="card-body">
    <div class="card-text">Users can use the site's primary functionality on the left selection menu by either
      selecting a date to graph or simply grabbing the latest graphs available. Graphs are created hourly, but
      note that the system will automatically skip times that are found to lack precipitation.
    </div>
    <hr>
    <div class="card-text">To find precipitation and reflectivity graphs by it's hour and date:
      <ol>
        <li>Use the calendar to select a day, month, and year. Dates with available graphs are automatically
          highlighted and other dates are unselectable.</li>
        <li>Use the clock button under the calendar to select a time of day. The system will match your selected
          time with the closest data available.</li>
        <li>Click the "Get Graphs from Selected Date" button.</li>
      </ol>
    </div>
    <hr>
    <div class="card-text">To find the latest graphs:
      <ol>
        <li>Click the "Get Latest Graphs" button. Note that, since the system only creates graphs hourly and
          skips certain times, you may not get a graph close to the time you selected.</li>
      </ol>
    </div>
  </div>
</div>
{% endblock %}
