<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>3D Precipitation & Reflectivity Visualization System</title>

  <!-- Bootstrap/JQuery Requirements -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Tempus Dominus Requirements -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/js/tempus-dominus.min.js"
    crossorigin="anonymous"></script>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.11/dist/css/tempus-dominus.min.css"
    crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/solid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/fontawesome.min.js"></script>

  <!-- Plotly Requirements -->
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

  <!-- Custom Style / Scripts -->
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <script src="{{url_for('static', filename='scripts.js')}}"></script>

  <!-- Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='cisess_logo_white.png')}}">
</head>

<body id="body">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary sticky-top">
    <a class="navbar-brand text-white font-weight-bold" href="/">3D-VisSys</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars text-white"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link bg-primary text-white" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle bg-primary text-white" href="#" id="navbarDropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data
          </a>
          <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-white" href="https://mrms.ncep.noaa.gov/data/3DRefl/" target="_blank">
              Reflectivity</a>
            <a class="dropdown-item text-white" href="https://mrms.ncep.noaa.gov/data/2D/PrecipRate/" target="_blank">
              Precipitation</a>
            <a class="dropdown-item text-white" href="https://nominatim.org/release-docs/latest/api/Overview/"
              target="_blank">
              Nominatim / OpenStreetMap</a>
            <a class="dropdown-item text-white"
              href="https://raw.githubusercontent.com/frankrowe/maryland-geojson/master/maryland-regions.geojson"
              target="_blank">
              Maryland GeoJSON</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-primary text-white" href="https://github.com/lanceu0128/3DVisSys" target="_blank">Source
            Code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bg-primary text-white" href="mailto:marulraj@umd.edu?cc=lpu@umd.edu"><span
              class="fa fa-envelope"></span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid mt-0">
    <div class="row">
      <div class="col-md-3 sidebar bg-info">
        <div id="dateTimePicker" class="mt-3">
        </div>

        <button type="button" class="btn btn-light mt-3 mx-auto w-100" onclick="get_graph_by_date()">
          Get Graph from Selected Date
        </button>

        <button type="button" class="btn btn-light mt-3 mx-auto w-100" onclick="get_latest_graph()">
          Get Latest Graph
        </button>

        <div style="height: 50vh;"></div>
      </div>

      <div class="col-md-9 mt-5 px-5 bg-white">
        <h1 id="main-title" class="text-center">3D Visualization System</h1>
        <p>3D-VisSys is a tool that visualizes the three-dimensional structure of precipitating systems through an
          open-source interactive web-based platform. 3D-VisSys produces 3D maps of reflectivity factors, as well as
          supplementary 2D maps of precipitation, from the NOAA MRMS (Multi-Radar/Multi-Sensor) ground-based network, in
          near-real-time. 3D-VisSys offers a suite of visualizations including: a 2D precipitation heatmap, a 3D
          reflectivity volume plot, and an animated 3D reflectivity volume plot. </p>
        <p>This tool was developed under the CISESS (Cooperative Institute for Satellite and Earth System Studies)
          Summer Internship and the primary research objective is to demonstrate the use of open-source visualization
          tools for supporting atmospheric and other scientific studies.</p>
        <div class="card">
          <div class="card-header">Instructions</div>
          <div class="card-body">
            <div class="card-text">Users can use the site's primary functionality on the left selection menu by either
              selecting a date to graph or simply grabbing the latest graphs available. Graphs are created hourly, but
              note that the system will automatically skip times that are found to lack precipitation.
            </div>
            <hr>
            <div class="card-text">To find precipitation and reflectivity graphs by it's hour and date:
              <ol>
                <li>Use the calendar to select a day, month, and year. Dates with available graphs are automatically
                  highlighted and other dates are unselectable.</li>
                <li>Use the clock button under the calendar to select a time of day. The system will match your selected
                  time with the closest data available.</li>
                <li>Click the "Get Graphs from Selected Date" button.</li>
              </ol>
            </div>
            <hr>
            <div class="card-text">To find the latest graphs:
              <ol>
                <li>Click the "Get Latest Graphs" button. Note that, since the system only creates graphs hourly and
                  skips certain times, you may not get a graph close to the time you selected.</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer bg-light py-4">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4 text-left">
          <a href="mailto:marulraj@umd.edu?cc=lpu@umd.edu" class="my-0 ">Lance Uymatiao & Malarvizhi Arulraj</p></a>
        </div>
        <div class="col-md-4 text-center">
          <a href="https://cisess.umd.edu/"><img src="{{url_for('static', filename='cisess_logo.png')}}" width=125
              height=100 alt="Center Image">
          </a>
        </div>
        <div class="col-md-4 text-right">
          <a href="/">
            <p class="my-0">About</p>
          </a>
        </div>
      </div>
    </div>
  </footer>

  <script type="text/javascript">
    valid_dates = convert_to_dates({{ valid_dates | safe }})

    dateTimePicker = new tempusDominus.TempusDominus(document.getElementById('dateTimePicker'), {
      display: {
        inline: true,
        theme: 'light',
      },
      restrictions: {
        enabledDates: valid_dates
      }
    });
    $("#dateTimePicker").addClass("bg-light")
  </script>
</body>

</html>